<% user = User.find(notification.from_user_id) %>
<% plan = Plan.find(notification.plan_id) %>
<li id="notification-<%= notification.id %>">
  <div>
    <% if notification.variety == 1 %>
      <p><%= notification.created_at.strftime("%Y/%m/%d(%a) %H:%M") %></p>
      <p class="notification-message">あなたの企画(<%= link_to plan.title, plan_path(plan) %>)が<%= link_to user.name, user_path(user) %>さんにお気に入り登録されました。</p>
    <% elsif notification.variety == 2 %>
      <p><%= notification.created_at.strftime("%Y/%m/%d(%a) %H:%M") %></p>
      <p class="notification-message">あなたの企画(<%= link_to plan.title, plan_path(plan) %>)に<%= link_to user.name, user_path(user) %>さんがコメントしました。
      「<%= notification.content %>」</p>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12 notification-image">
      <%= link_to((image_tag plan.image.url), plan_path(plan), class: 'plan-picture') %>
    </div>
  </div>
</li>