<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">	
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div id="gtco-logo"><%= link_to "TRAVELER", root_path %></div>
				</div>
				<div class="col-xs-8 text-right menu-1">
           <ul>
            <% if logged_in? %>
            <li><%= link_to 'ホーム', root_path %></li>
            <li><%= link_to 'ユーザー', users_path %></li>
          <li><%= link_to '旅行投稿', new_plan_path %></li>
          <li><%= link_to 'お気に入り', favorites_path %></li>
                    <% if current_user.notification == true %>
            <li class="new_notification header-link">
          <% else %>
            <li class="no_notification header-link">
          <% end %>
          <%= link_to notifications_path do %><span>通知</span><% end %>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              アカウント <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'プロフィール', current_user %></li>
              <li class="divider"></li>
              <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to 'ユーザー登録(無料)', signup_path %></li>
          <li><%= link_to 'ログイン', login_path %></li>
        <% end %>
      </ul>
				</div>
			</div>
		</div>
	</nav>
